@if (member$ | async; as member) {
	<div class="flex flex--column flex--center member-details padding-4 gap-2 dosis-1-400">
		<mat-card class="member-details__card" appearance="outlined">
			<img mat-card-xl-image [src]="member.photoUrl || '/user.png'" [alt]="member.knownAs" />
			<mat-card-content class="grid member-details__card__description">
				<div>
					<p class="bold">Location:</p>
					<p>{{ member.city }}, {{ member.country }}</p>
				</div>
				<div>
					<p class="bold">Age:</p>
					<p>{{ member.age }}</p>
				</div>
				<div>
					<p class="bold">LastActive:</p>
					<p>{{ member.lastActive }}</p>
				</div>
				<div>
					<p class="bold">Member since:</p>
					<p>{{ member.created | date: 'dd MMM yyyy' }}</p>
				</div>
			</mat-card-content>
			<mat-card-actions class="flex gap-1 flex--center">
				<app-button design="primary"><p class="bold">LIKE</p></app-button>
				<app-button design="primary"><p class="bold">Message</p></app-button>
			</mat-card-actions>
		</mat-card>
		<div class="member-details__tabs">
			<div class="padding-2">
				<mat-tab-group [selectedIndex]="selectedIndex$ | async">
					<mat-tab [label]="'About ' + member.firstName">
						<ng-template matTabContent>
							<div class="padding-4">
								<h2>Description</h2>
								<p class="margin-bottom-3">{{ member.introduction || '---' }}</p>
								<h2>Looking for</h2>
								<p>{{ member.lookingFor }}</p>
							</div>
						</ng-template>
					</mat-tab>
					<mat-tab label="Intrests">
						<ng-template matTabContent>
							<div class="padding-4">
								<h2>Interests</h2>
								<p>{{ member.interests }}</p>
							</div>
						</ng-template>
					</mat-tab>
					<mat-tab label="Photos">
						<ng-template matTabContent
							><gallery [items]="member.photos | toGallery" [itemAutosize]="true" class="gallery" />
						</ng-template>
					</mat-tab>
					<mat-tab label="Messages">
						<ng-template matTabContent> Content 3 - Loaded </ng-template>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
} @else {
	<mat-spinner class="flex--justify-center-self" diameter="50"></mat-spinner>
}
