@use '@angular/material' as mat;
@use 'styles/colors';
@use 'styles/typography';
@use 'styles/utils';
@use 'styles/flex';
@use 'styles/fields';
@use 'styles/grid';
@use 'styles/spacing' with (
	$levels: 7,
	$multiplier: 4
);

:root {
	@include colors.initialize-palettes();
	@include spacing.initialize-spacing();
	@include mat.progress-bar-overrides(
		(
			active-indicator-color: var(--secondary-color-300),
			track-color: var(--black-color),
		)
	);
	@include mat.snack-bar-overrides(
		(
			supporting-text-weight: 700,
		)
	);
	@include mat.progress-spinner-overrides(
		(
			active-indicator-color: var(--secondary-color-600),
		)
	);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
	background-color: var(--primary-color-600);
	color: var(--white-color);
}

.main {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: var(--space-3);
	padding-bottom: 50px;

	@media screen and (max-width: 600px) {
		justify-content: stretch;
	}
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.snack-bar--error {
	white-space: pre-wrap;
}

// html,
// body {
// 	height: 100%;
// }
// body {
// 	margin: 0;
// 	font-family: Roboto, 'Helvetica Neue', sans-serif;
// }

.mat-mdc-snack-bar-container {
	&.snack-bar--error {
		--mdc-snackbar-container-color: var(--secondary-color-600);
		--mdc-snackbar-supporting-text-color: var(--white-color);
		--mat-text-button-hover-state-layer-opacity: 0.3;
	}
	&.success {
		--mdc-snackbar-container-color: var(--green-color);
		--mdc-snackbar-supporting-text-color: var(--white-color);
		--mat-text-button-hover-state-layer-opacity: 0.3;
	}
}
