<div class="grid editor">
	@for (photo of member().photos; track photo.id) {
		<div class="editor__photo">
			<img class="editor__photo--img" [src]="photo.url" alt="photo of user" />
			<div class="editor__photo--buttons flex flex--center gap-1">
				<app-button [design]="photo.isMain ? 'primary' : 'tertiary'">Main</app-button>
				<app-button design="tertiary"><app-icon icon="delete"></app-icon></app-button>
			</div>
		</div>
	}
</div>

<div class="photo-upload margin-top-5 flex flex--column gap-1">
	<div class="photo-upload__drop flex flex--column flex--center gap-1">
		<h2>Add Photos</h2>
		<div
			ng2FileDrop
			[ngClass]="{ 'nv-file-over': hasBaseDropZoneOver() }"
			(fileOver)="fileOverBase($event)"
			[uploader]="uploader"
			class="photo-upload__drop--card">
			<app-icon class="secondary-color-300" icon="upload_file" [size]="3"></app-icon>
			Drop photos here
		</div>
	</div>

	@if (uploader?.queue?.length) {
		<div class="photo-upload__table dosis-1-400 flex flex--column gap-1">
			<div>
				<h2>Upload queue</h2>
				<p>
					Queue length: <span class="secondary-color-300 bold">{{ uploader?.queue?.length }}</span>
				</p>
			</div>

			<table mat-table [dataSource]="uploaderQueue" class="mat-elevation-z8 demo-table">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">{{ element.file?.name || '-' }}</td>
				</ng-container>
				<ng-container matColumnDef="size">
					<th mat-header-cell *matHeaderCellDef>Size</th>
					<td mat-cell *matCellDef="let element">
						{{ (element.file?.size / 1024 / 1024 | number: '.2') || '-' }} MB
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="columns"></tr>
				<tr mat-row *matRowDef="let row; columns: columns"></tr>
			</table>

			<!-- <table class="table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					@for (item of uploader?.queue; track item) {
						<tr>
							<td>
								<strong>{{ item?.file?.name }}</strong>
							</td>
							@if (uploader?.options?.isHTML5) {
								<td nowrap>{{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB</td>
							}
						</tr>
					}
				</tbody>
			</table> -->

			<div class="flex gap-1">
				<app-button
					type="button"
					(click)="uploader?.uploadAll()"
					[disabled]="!uploader?.getNotUploadedItems()?.length">
					<p class="bold">Upload all</p>
				</app-button>
				<app-button type="button" (buttonClick)="uploader?.cancelAll()" [disabled]="!uploader?.isUploading">
					<p class="bold">Cancel all</p>
				</app-button>
				<app-button type="button" (buttonClick)="uploader?.clearQueue()" [disabled]="!uploader?.queue?.length">
					<p class="bold">Remove all</p>
				</app-button>
				<app-button type="button" (buttonClick)="test()">
					<p class="bold">TEST</p>
				</app-button>

				<!-- @if (uploader?.progress) {
					<div>
						Queue progress:
						<div>
							<mat-progress-bar mode="determinate" [value]="uploader?.progress"></mat-progress-bar>
						</div>
					</div>
				} -->
			</div>
			@if (uploader?.progress) {
				<div>
					<p class="margin-bottom-3">Queue progress: {{ uploader?.progress }} %</p>
					<div>
						<mat-progress-bar mode="determinate" [value]="uploader?.progress"></mat-progress-bar>
					</div>
				</div>
			}
		</div>
	}
</div>
