form {
	border-bottom: 1px solid var(--primary-color-400);
}

@media (min-width: 1420px) {
	form {
		flex-direction: row;
		padding: 16px;
	}

	.memebrs-filters {
		flex-direction: row;
	}

	.memebrs-filters-buttons {
		margin: 0;
	}
}
