.button {
	cursor: pointer;
	padding: var(--space-2) var(--space-3);

	&--primary {
		border-radius: 5px;
		color: var(--black-color);
		background-color: var(--secondary-color-400);
		border: 2px solid var(--secondary-color-400);
	}

	&--secondary {
		background-color: var(--black-color);
		color: var(--secondary-color-400);
		border: 2px solid var(--secondary-color-400);
		border-radius: 5px;
	}

	&--tertiary {
		background-color: transparent;
		color: var(--secondary-color-400);
		border: 1px solid var(--primary-color-300);
		border-radius: 5px;
	}

	&:hover {
		filter: brightness(0.8);
	}

	&:disabled {
		background-color: var(--primary-color-200);
		border: 2px solid var(--primary-color-200);
		cursor: not-allowed;
		filter: none;
	}
}
