@if (member$ | async; as member) {
	<h1 class="text-center">Your profile</h1>

	@if (form.dirty) {
		<div class="alert">
			<p><strong>Information: </strong> You have made changes. Any unsaved changes will be lost</p>
		</div>
	}

	<form [formGroup]="form" (ngSubmit)="handleSubmit()">
		<div class="flex flex--column flex--center member-details padding-4 gap-2 dosis-1-400">
			<div class="member-details--wrapper">
				<mat-card class="member-details__card" appearance="outlined">
					<img mat-card-xl-image [src]="member.photoUrl || '/user.png'" [alt]="member.knownAs" />
					<mat-card-content class="grid member-details__card--description">
						<div>
							<p class="bold">Location:</p>
							<p>{{ member.city }}, {{ member.country }}</p>
						</div>
						<div>
							<p class="bold">Age:</p>
							<p>{{ member.age }}</p>
						</div>
						<div>
							<p class="bold">LastActive:</p>
							<p>{{ member.lastActive }}</p>
						</div>
						<div>
							<p class="bold">Member since:</p>
							<p>{{ member.created | date: 'dd MMM yyyy' }}</p>
						</div>
					</mat-card-content>
					<mat-card-actions class="flex gap-1 flex--center">
						<app-button type="submit" design="primary" [disabled]="form.invalid || form.pristine"
							><p class="bold">SAVE CHANGES</p></app-button
						>
					</mat-card-actions>
				</mat-card>
			</div>

			<div class="member-details__tabs">
				<div class="padding-2">
					<mat-tab-group>
						<mat-tab [label]="'About ' + member.firstName">
							<ng-template matTabContent>
								<div class="padding-4">
									<div class="flex flex--column gap-1">
										<app-field-textarea
											formControlName="introduction"
											type="text"
											label="Description"
											placeholder="Enter your profile description" />
										<app-field-textarea
											formControlName="lookingFor"
											type="text"
											label="Looking for"
											placeholder="Enter what you are looking for" />
										<app-field-textarea
											formControlName="interests"
											type="text"
											label="Intrests"
											placeholder="Enter what you are intrested in" />
										<div class="flex gap-1">
											<app-field-text
												formControlName="city"
												type="text"
												label="City"
												placeholder="Enter city" />
											<app-field-text
												formControlName="country"
												type="text"
												label="Country"
												placeholder="Enter country" />
										</div>
									</div>
								</div>
							</ng-template>
						</mat-tab>
						<mat-tab label="Edit Photos">
							<ng-template matTabContent>
								<div class="padding-4"><app-photo-editor [member]="member" /></div>
							</ng-template>
						</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</form>
} @else {
	<mat-spinner class="flex--justify-center-self" diameter="50"></mat-spinner>
}
