<header class="navbar margin-3">
	<div class="navbar__headline margin-right-7">
		<app-icon [size]="3" class="navbar__icon margin-1" icon="bolt" />
		<h1 routerLink="/">DatingApp</h1>
	</div>
	<nav class="navbar__nav">
		@for (config of navbarConfig; track config) {
			<app-link [route]="config.route" [label]="config.label" />
		}
	</nav>

	@if (isAuthorized$ | async) {
		<div class="flex gap-1 navbar__buttons">
			<app-button routerLink="user-profile" design="secondary">
				<app-icon icon="person" />
			</app-button>
			<app-button (buttonClick)="logout()" [isDisabledOnRequest]="true">
				<p>Logout</p>
			</app-button>
		</div>
	} @else {
		<div class="flex gap-1 navbar__buttons">
			<app-button class="navbar__buttons--login" design="secondary" (buttonClick)="goToLogin()">
				<app-icon icon="login" />
				<p class="bold">LOGIN</p>
			</app-button>
			<app-button (buttonClick)="goToRegister()"><p class="bold">REGISTER</p></app-button>
		</div>
	}
</header>
