<header class="navbar margin-3">
	<div class="navbar__headline margin-right-7">
		<app-icon [size]="3" class="navbar__icon margin-1" icon="bolt" />
		<h1>DatingApp</h1>
	</div>
	<nav class="navbar__nav">
		@for (config of navbarConfig; track config) {
			<app-link [route]="config.route" [label]="config.label" />
		}
	</nav>
	<div class="flex gap-1 navbar__buttons">
		<app-button class="navbar__buttons--login" design="secondary" (buttonClick)="goToLogin()">
			<app-icon icon="login" />
			<p class="bold">LOGIN</p>
		</app-button>
		<app-button><p class="bold">REGISTER</p></app-button>
	</div>
</header>
