<div class="messages padding-3">
	@if ({ outbox: outbox$ | async }; as is) {
		<app-messages-filters />
		<app-paginator [request]="messagesRequest" [isTable]="true" [tableColumns]="columns" emptyText="No messages">
			<ng-template appTableCell column="senderUsername" let-element="element">
				<div class="flex gap-1 text-center">
					<img
						mat-card-xl-image
						[src]="(is.outbox ? element.recipientPhotoUrl : element.senderPhotoUrl) || '/user.png'" />
					<strong class="flex--align-self-center">
						{{ (is.outbox ? element.recipientUsername : element.senderUsername) | titlecase }}
					</strong>
				</div>
			</ng-template>

			<ng-template appTableCell column="dateRead" let-element="element">
				{{ element.messageSent | timeago }}
			</ng-template>
			<ng-template appTableCell column="actions" let-element="element">
				<div class="flex gap-1 flex--center">
					<app-button design="tertiary" (click)="deleteMessage(element.id)"
						><app-icon icon="delete"
					/></app-button>
					<app-button (click)="goToMessage(is.outbox, element)"><p>Check Message</p></app-button>
				</div>
			</ng-template>
		</app-paginator>
	}
</div>
