<mat-card class="member-card" appearance="outlined">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image secondary-color-300">
			<app-icon icon="person" [size]="2" />
		</div>
		<mat-card-title>{{ member().firstName }} {{ member().lastName }}, {{ member().age }}</mat-card-title>
		<mat-card-subtitle>Known as {{ member().knownAs }}</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image [src]="member().photoUrl" alt="main photo of member" />
	<mat-card-content class="text-center">
		<p>City: {{ member().city }}</p>
	</mat-card-content>
	<mat-card-actions class="flex gap-1 flex--center">
		<app-button routerLink="/members/{{ member().username }}" design="tertiary"
			><app-icon icon="person"
		/></app-button>
		<app-button design="tertiary"><app-icon icon="favorite" /></app-button>
		<app-button design="tertiary"><app-icon icon="mail" /></app-button>
	</mat-card-actions>
</mat-card>
