.link {
	color: var(--secondary-color-100);
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&__active {
		color: var(--secondary-color-400);
		text-decoration: underline;
	}
}
