@use '@angular/material' as mat;

.paginator {
	@include mat.paginator-overrides(
		(
			enabled-icon-color: var(--secondary-color-400),
			disabled-icon-color: var(--primary-color-200),
			container-text-weight: 600,
			container-text-size: 1.2rem,
		)
	);

	&__items {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

		[mat-table] {
			background-color: var(--primary-color-500);
			border: 3px solid var(--primary-color-400);
			border-radius: 10px;

			@include mat.table-overrides(
				(
					background-color: var(--primary-color-500),
					header-headline-color: var(--white-color),
					row-item-outline-color: var(--secondary-color-300),
					row-item-label-text-color: var(--white-color),
					header-headline-weight: 700,
					header-headline-size: 1.2rem,
				)
			);
		}
	}
}
